<%- include('../includes/head') %>

    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../includes/navigation') %> 

    <main>
        <% if(products.length > 0) {%> 
      <div class="grid">
          <% for(let product of products) { %> 
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title %> </h1>
          </header>
          <div class="card__image">
            <img
              src="<%= product.imageUrl %> "
              alt="A Book"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$<%= product.price  %> </h2>
            <p class="product__description">
              <%= product.description  %> 
            </p>
          </div>
          <div class="card__actions">
            <a class="btn" href="/admin/edit-product/<%= product.id  %>?edit=true ">Edit</a>
            <form method="post" action="/admin/delete-product">
              <input type="hidden" name="productId" value="<%= product.id  %>">
                <button class="btn danger">Delete</button>
            </form>
          </div>
        </article>
        <%}  %> 
      </div> 
      <% } else  {%> 
      <h1>Products not found !</h1>
      <%} %> 
    </main>
<%- include('../includes/end') %> 